 * {
	box-sizing: border-box;
}
/*
   Row Control
   ===========
   This controls the widest point the grid 
   will stretch and how it should behave inside 
   its parent container*/ 
.row {
	max-width: 1000px;
	margin: 0 auto;
	padding-left: 50px;
	padding-right: 50px;
}

/*   Clearfix 
   ==========*/
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-4 {
	float: left;
  	padding-left: 1.04166666%;
  	padding-right: 1.04166666%;
}

/*   MOBILE DEFAULTS
   ===============
   indicating the child should
   stretch 100 % of it parent's container 
   when the screen is smaller */  
.col-4 {
	width: 100%;
	/*Why did we indicate the with should be 100 % on mobile?*/
}

@media only screen and (min-width: 640px) {
	.col-4 {
		width: 33.33%;
	}
}