.container {
	background: orange;
	padding-left: 60px;
}

.container h1 {
	margin: 0;
}

.container h1:last-child {
	font-size: 18px;
}

.container h1,
.container p,
.box h1,
.box p {
	font-family: "Roboto";
}

.box {
	border: 1px solid lightgray;
	margin-top: 25px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.box h1,
.box p {
	margin-left: 10px;
	margin-top: 0px;
	margin-bottom: 20px;
}

.box h1 {
	font-weight: lighter;
	font-size: 20px;
}

.box p {
	font-size: 14px;
}

img {
	width: 100%;
	border: 1px solid lightgray;
	margin-bottom: 25px;
}
